/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./header.css');
@import url('./badges.css');
@import url('./back-link.css');

/* Загальні скидання стилів */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.timer-container {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.datetime-input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 2px solid #007bff;
  border-radius: 5px;
  outline: none;
}

.start-btn {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.start-btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.start-btn:hover:not(:disabled) {
  background-color: #0056b3;
}

.timer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.field {
  text-align: center;
  margin: 0 10px;
}

.value {
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

.label {
  font-size: 14px;
  color: #666;
}
